* {
  margin: 0;
  padding: 0;
}

#header {
  background-color: #603140;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  padding: 10px;
  height: 80px;
  width: auto;
}

.navbar ul li {
  display: inline-block;
}

.ulnav li a {
  text-decoration: none;
  color: #BF9DA1;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
}

.ulnav a:hover {
  color: #603140;
  background-color: #BF9DA1;
  transform: scale(1.1);
}

.ulnav li .listaContacto {
  margin-right: 25px;
}

.bgimg {
  height: calc(100vh - 147px);
  width: 100%;
  background-image: url(../img/bgimg.jpg);
  background-size: cover;
  background-position: right;
}

.button {
  color: #ffffff;
}

.bienvenidos {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  float: right;
  padding-right: 25vh;
  padding-top: 25vh;
}

section {
  background-color: #BF9DA1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fotobienvenida {
  width: 300px;
  height: auto;
  padding: 40px;
}

.sobreNosotros {
  font-size: 20px;
  margin: 30px;
}

footer {
  background-color: #603140;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h4 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-section p, .footer-section ul {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #BF9DA1;
  transform: scale(1.1);
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #ffffff;
  padding-top: 10px;
}

.footer-bottom p {
  font-size: 12px;
  margin: 0;
}

#main {
  background-color: #BF9DA1;
  min-height: 100vh;
}

.textoRecetas {
  margin: 30px;
  padding: 30px;
  font-size: 20px;
}

.listaRecetas ul li {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.ulRecetas li a {
  text-decoration: none;
  font-size: 25px;
  color: #603140;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid;
}

.ulRecetas {
  display: flex;
  justify-content: space-evenly;
}

.ulRecetas a:hover {
  color: #BF9DA1;
  background-color: #603140;
}

.tituloRecetas {
  padding: 20px 20px 20px 60px;
  font-size: 55px;
  font-family: fantasy;
  display: flex;
  justify-content: center;
  color: #603140;
}

.imgRecetas {
  width: 400px;
  height: 250px;
  margin: 30px;
}

.tituloComida {
  display: flex;
  justify-content: center;
  font-family: fantasy;
}

.tarjetas {
  justify-content: space-evenly;
}

.card {
  margin: 10px;
  background-color: #603140;
  color: #BF9DA1;
}

.list-group-item {
  background-color: #BF9DA1;
  color: #603140;
}

.galeriaimg {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
  max-width: 1000px;
  width: 90%;
  margin: auto;
}

.galeria img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.galeria img:hover {
  transform: scale(1.07);
}

.formularioContacto {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #603140;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: white;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  background-color: #BF9DA1;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.contact-form button:hover {
  background-color: green;
  color: white;
}

.volver {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

/* Cambio de color al pasar el cursor */
.volver:hover {
  background-color: #858585;
}

@media (max-width: 991px) {
  .bienvenidos {
    padding-right: 15vh;
    font-size: 75px;
  }
  .bgimg {
    background-position: center;
  }
  .imgRecetas {
    width: 200px;
    height: auto;
  }
}
@media (max-width: 767px) {
  .tarjetas {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .bienvenidos {
    font-size: 50px;
  }
  .fotobienvenida {
    display: none;
  }
  .ulRecetas {
    display: grid;
  }
}
@media (max-width: 540px) {
  .bienvenidos {
    font-size: 45px;
    padding-right: 5vh;
    padding-top: 55vh;
  }
  .bgimg {
    background-position: left;
  }
  .fotobienvenida {
    display: none;
  }
  .imgRecetas {
    display: none;
  }
  .testimoniosDeClientes {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */